<!-- 侧边栏 -->
  <userhead></userhead>
  <nav class="convbtns" btn-items>
    <!-- <div ng-repeat="sidebarItem in sidebarItems | orderBy: sidebarItem.sequence ">
      <a ng-bind="{{sidebarItem.module}}" href="#" class="{{sidebarItem.class}}" title="{{sidebarItem.title}}">
        {{sidebarItem.title}}
      </a>
    </div> -->
    <!-- <a btn-chat href="#" class="btn-chat" title="{{convs_title}}">{{convs_title}}<i ng-show="unreadMessage" title="{{unreadMessage}}条未读">
      {{unreadMessage > 99 ? '...' : unreadMessage}}
    </i></a>
    <a btn-contacts href="#" class="btn-contact" title="通讯录">通讯录</a>
    <a btn-app-centre href="#" class="btn-app-centre" title="我的应用">我的应用</a>
    <a btn-circle href="#" class="btn-circle" title="工作圈">工作圈<i class="unread-circle" ng-show="unreadCircle" title="{{unreadCircle}}条未读">
      </i></a>
    <a btn-files href="#" class="btn-files" title="文件">文件</a> -->
  </nav>
  <nav class="sysbtns">
    <a btn-setting href="#" class="btn-setting" title="设置">设置<i class="new-version" ng-show="newVersion" title="新版本更新">
      </i></a>
    <a btn-logout href="#" class="btn-logout" title="退出">退出</a>
  </nav>